<div class="flex rounded-2xl items-center pt-0.5 pb-0.5" [style.background-color]="tag().color" [class]="enableRemoveButton() ? 'pl-2 pr-1' : 'px-2'">
  <p class="select-none text-xs">
    {{ tag().name }}
  </p>
  @if (enableRemoveButton()) {
    <button class="ml-1" (click)="btnClicked.emit(tag())">
      <div class="rounded-4xl hover:opacity-50 hover:bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-3 h-3">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </div>
    </button>
  }
</div>
